html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #FFF;
}

.logo a:hover {
  text-decoration: none;
  color: #007bff;
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}


.container {
  max-width: 960px;
  padding: 0px;
  width: 50%; 
  margin: 0 auto;
  height: 90vh;
}

.video-container {
  width: 100%;
  height: 85vh;
}

@mixin border-transparent($basecolor) {
    color: $basecolor;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

.btn-outline-customlight { @include border-transparent(#f8f9fa); }

.btn-outline-customdark { @include border-transparent(#343a40); }

.btn-outline-customprimary { @include border-transparent(#007bff); }

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }